:root{
	--primary:#fff;
	--bg:#fff;
}
html{
	overflow-x: hidden;
}
*{
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	scroll-behavior: smooth;
	scroll-padding-top: 140px;

}
body{
	font-family: 'Poppins', sans-serif;
	background-color: var(--bg);
	color: var(--primary);
	width: 100%;
	overflow-x: hidden;
}
a:link{
	color: black;
}
svg{
	stroke: black;
}
.feather {
  width: 32px;
  height: 32px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
/* Navbar */
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.4rem 7%;
	background-image: url('../img/navbar/diamond-plate-metal-background-01-300x300.jpg');
	background-repeat: repeat;
	background-size: contain;
	background-position: center;
	
/*	background-color: rgba(1, 1, 1, 0.8) ;*/
	border-bottom: 1px solid var(--primary);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;

}

.navbar .navbar-logo img{
	max-width: 101px;
	max-height: 101px;
	
}

.navbar .navbar-nav{
	display: none;
	position: absolute;
	top: 100%;
	right: -100%;
	background: #f2f4f6;
	width: 25rem;
	height: 85vh;
	transition: 0.3s;
	overflow-x: hidden;
                overflow-y: auto;
	z-index: 999;
	}
.navbar .navbar-nav.active{
	right: 0;
	display: block;
}

.navbar .navbar-nav a{
	color: #000;
	display: block;
	font-size: 2rem;
	margin: 1.5rem;
	padding: 0.5rem;
}

.navbar .navbar-nav a:hover{
	color: #FCC319;
}

.navbar .navbar-nav a::after{
	content: '';
	display: block;
	padding-bottom:0.5rem ;
	border-bottom: 0.2rem solid #FCC319;
	transform: scaleX(0);	
	transform-origin:0 0 ;
}

.navbar .navbar-nav a:hover::after{
	transform: scaleX(0.2);
	
}

.navbar .navbar-extra a{
	color: #fff;
	margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover{
	color: var(--primary);
}



/*Katalog*/
.katalog{
	margin-top: 10rem;
}
.category{
	display: flex;
	flex-direction: column;
}
.category1{
	display: flex;
	flex-direction: row;
}
.container-category{
	display: flex;
	flex-direction: row;
}
.container-category1{
	display: flex;
	flex-direction: row;
}
.container-category #kawasaki{
	width: 50%;
}
.container-category #suzuki{
	width: 50%;
}
/*.title{
	margin:0.5rem 0;
}*/
.title img{
	object-fit: cover;
	width: 100%;
}
#hi-temp .title img{

}
.colors{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;

	
}
.putih{
	background-color: #EDEDED;
}
.colors-items{
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 250px;
	max-width: 250px;
	word-wrap: break-word;
	padding: 0.8rem 0.5rem;


}
.colors-items  img{
	width: 130px ; 
	height: 130px;
}
#harley .colors-items  img{
	width: 150px ; 
	height: 150px;
}
.colors-items  ul{;
	color: #000;
	list-style-type: none;
  	display: flex;
  	flex-flow: column wrap;
  	justify-content: flex-start;
  	align-items: center;
  	
}
.colors-items li{
	display: flex;
 	flex-flow: column nowrap;
	margin-bottom: 3px;
	text-align: center;
}
.colors-items ul li:nth-child(2){
	font-weight: 800;
	font-size: 1.2rem;
	line-height: 1.5rem;
}
.colors-items ul li:nth-child(3){
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.9rem;
}
.colors-items ul li:nth-child(4){
	list-style-image: url('../img/icon/Icon.png');
	border-top: 0.2rem solid #000;
	font-size: 10px;
	padding: 0.5rem 0;
}

.colors-items li p{
	color: #FBAC18 ;
}
li #warning::before{
	list-style-image: url('../img/icon/danger.png');
}
#warning{
	padding: 1rem 2.7rem;	
}
.card{
	flex: 1 1 ;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
/*	align-self: normal;*/
	margin: 0.8rem 1.2rem;
}
.card  ul{;
	color: #000;
	list-style-type: none;
  	display: flex;
  	flex-flow: column wrap;
  	justify-content: flex-start;
  	align-items: center;
  	
}
.card li{
	display: flex;
 	flex-flow: column nowrap;
	margin-bottom: 3px;
	text-align: center;

}
.card  img{
	width: 130px ; 
	height: 130px;
}
.card ul li:nth-child(4){
	list-style-image: url('../img/icon/Icon.png');
	border-top: 0.2rem solid #000;
	font-size: 10px;
	padding: 0.5rem 0;
}
.card ul li:nth-child(5){
	background-color: #000;
	color: #fff;
	padding: 0.3rem 0;
	margin-top: auto;

}
.break{
	flex-basis: 100%;
	width: 0;
}
.special{
	max-width: 263px;
}
.special img{
	width: 200px;
	height: 200px;
}
#special{
	width: 100%;
	background-color: #000;
	color: #fff;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
	margin-bottom: 1rem;
	text-align: center;

}

/*preview start*/
.content{
	margin-top: 10rem;
}
.preview{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1.3rem 0;
}
.preview-btn{
	width: 100%;
	display: flex;
	flex-direction: row;
	word-wrap: break-word;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin-top: 26px;
	
}

.preview-btn .btn{
	max-width: 173px;
	max-height: 64px;
	border-radius: 50px;
	background: linear-gradient(309.21deg, #FCC319 78.59%, #FCB119 136.22%);
	font-size: 1.3rem;
	padding: 21px 25px;
	margin: 1rem 0;
	font-weight: 600;
}
.preview-btn .colors-name{
	width: 300px;
	height: auto;
	border-radius: 50px;
	background: linear-gradient(309.21deg, #FCC319 78.59%, #FCB119 136.22%);
	font-size: 1.3rem;
	line-height: 1.2;
	padding: 21px 25px;
	color: #000;
	text-align-last: center;
	line-height: 1.5;
	font-weight: 600;
}
.preview-btn .colors-name p{
	width: 100%;
	
}

.imgPreview{
	width: 66%;
}
/*button group*/
.btn-group{
	
	position: fixed;
	bottom: 40%;
  	right: 10%;
	width: 82px;
	height: 175px;
	background: linear-gradient(309.21deg, #FCC319 78.59%, #FCB119 136.22%);
	border-radius: 50px;
	/*display: flex;
	flex-direction: column;
	align-items: center;*/
	color: #000;
}
.btn-group .play{
	display: block;
	position: absolute;
	top: 20%;
	right: 30%;
}
.btn-group .back{
	display: block;
	position: absolute;
	top: 48%;
	right: 20%;
	border-top: 0.2rem solid #000;
	padding: 0.5rem 0;
}

/*clip*/
.clip{
	position: fixed;
	top: -100%;
	left: -100%;
	transform: translate(-50%,-50%) scale(0);
	width: 1200px;
	height: 680px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	z-index: 998;
	overflow: hidden;


}
.clip iframe{
	display: none;
}
.clip.active{
	top: 55%;
	left: 50%;
	transition-delay:0.5s ;
	transform: translate(-50%,-50%) scale(1);
}
.clip.active iframe{
	display: block;
}

iframe{
	width: 100%;
	height: 100%;

}

/*Footer*/
footer{
	background-image: url('../img/background/Background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #F5F5F5;
	font-size: 1rem;
}
footer *{
	font-family: "Heebo", sans-serif;
	box-sizing: border-box;
	border: none;
	outline: none;
}
.primary{
	background: rgb(64, 64, 64, 0.8);
}
.row {
  padding: 3em 5em;
}
.row.primary {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 2fr;
  align-items: stretch;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}

h3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1.4em;
  white-space: nowrap;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
footer li:not(:first-child) {
  margin-top: 0.8em;
}
footer ul li a {
  color: #a7a7a7;
  text-decoration: none;
}
footer ul li a:hover {
  color: #2a8ded;
}
.sosial {
display: flex;
flex-direction: row;
align-items: center;
gap: 1.2rem;
color: #fff;
}
.sosial a{
	color: #fff;
}
.about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
  color: #fff;
}
footer input,
button {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}
footer button {
  background-color: #c7940a;
  color: #ffffff;
}
div.social {
  display: flex;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}
.social i {
  color: #bac6d9;
}

.copyright {
  padding: 2.3em 1em;
  background-color: #C2C2C2;
}
.footer-menu{
  float: left;
    margin-top: 10px;
}

.footer-menu a{
  color: #cfd2d6;
  padding: 6px;

  text-decoration: none;
}
.footer-menu a:hover{
  color: #27bcda;
}
.copyright p {
  font-size: 0.9em;
  text-align: right;
  font-weight: 400;
  color: #404040;
}

/* Media Queries */

/* Laptop */
@media(max-width:1366px){
	html{
		font-size: 75%%;

	}

}
/*Tablet*/
@media(min-width: 768px) and (max-width: 1024px){
	html{
/*		font-size: 62.5%;*/
	}
	.katalog{
		padding: 0 2rem;
	}
	.imgPreview{
	width: 100%;
	}
	.colors-items  img{
	width: 90px ; 
	height: 90px;
	}
.colors-items{
	min-width: 150px;
	max-width: 150px;
}
.colors{
	align-items: center;
	justify-content: space-around;
}
.btn-group{
	bottom: 65%;
  	right: 6%;
	width: 56px;
	height: 56px;
}
.btn-group .play{
	top: 28%;
	right: 23%;
/*	font-size: 1.5rem;*/
}
.btn-group .back{
	display: none;
}
.clip{
	width: 85%;
	height: 45%;
}
.clip.active{
	top:37%;
}
.btn-group a:link    {color:#000;}
.row.primary {
    grid-template-columns: 2fr 1fr;
  }
  .container-category{
 	flex-direction: row;
 }
.container-category1{
	display: flex;
	flex-direction: column;
}
/*.category1{
	flex-direction: column;
	align-items: center;
}*/
}
/*Mobile Phone*/
@media(min-width:320px) and (max-width:480px){
	html{
/*		font-size: 55%;*/
	}
	/*body{
		width: 650px;
	}*/
	.colors-items img{
		width: 80px;
		height: 80px;
	}
	.imgPreview{
	width: 100%;
/*	padding-top:3rem ;*/
}
.colors-items{
	min-width: 150px;
	max-width: 150px;
}
.colors{
	align-content: center;
	justify-content: space-around;
}
.btn-group{
	bottom: 65%;
  	right: 6%;
	width: 66px;
	height: 156px;
}
.btn-group .play{
	top: 18%;
	right: 23%;
/*	font-size: 1.4rem;*/
}
/*.btn-group .back{
	display: none;
}*/

.preview-btn .btn{
	width: calc(100% - 5%);
	font-size: 80%;
	font-weight: 600;
}
.preview-btn .colors-name{ 
	width: 100%;
	height: auto;
	font-size: 80%;
	font-weight: 600;
}
.clip{
	width: 80%;
	height: 34%;
}
.clip.active{
	top:33%;
}
.row.primary {
    grid-template-columns: 1fr;
  }
 .container-category{
 	flex-direction: row;
 }
.container-category1{
	display: flex;
	flex-direction: column;
}
.category1{
	flex-flow: row wrap;
	align-items: baseline;

}

}
